<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        html,body{
            text-align: center;
            margin: 0px auto;
        }
    </style>
</head>
<body>
    <h1>登录页面</h1>
    <form method="post" action="http://127.0.0.1:8000/login/">
        <label for="username">username:</label>
        <input type="text" name="username" id="username">
        <label for="password">password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>