<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>regist</title>

    <style>
        html,body{
            text-align: center;
            margin: 0px auto;
        }
    </style>
</head>
<body>
    <h1>注册界面</h1>
    <form method="post" action="http://127.0.0.1:8000/regist/" enctype="multipart/form-data">
        <label for="username">username:</label>
        <input type="text" name="username" id="username">
        <label for="password">password:</label>
        <input type="password" name="password" id="password">
        <label for="email">email:</label>
        <input type="email" name="email" id="email">
        <input type="submit" value="Regist">
    </form>
</body>
</html>